.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.logo__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-decoration: none;
}

.logo__subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: $color-light-xl;
}

.nav {
  width: 443px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav__link {
  @include navigation-link;
  text-decoration: none;
  color: $color-dark-s;
  box-sizing: border-box;
  transition: 0.1s;
  &:hover {
    color: $color-light-s;
    border-bottom: 3px solid $color-primary;
    transition: 0.1s;
  }
}

.nav__link_active {
  color: $color-light-s;
  border-bottom: 3px solid $color-primary;
}
