.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.logo {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 height: 60px;
}

.logo__subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: $color-light-xl;
}

.nav {
  width: 443px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-list__link {
  @include navigation-link;
  text-decoration: none;
  color: $color-dark-s;
  box-sizing: border-box;
}

.nav-list__item_active {
  .nav-list__link {
    color: $color-light-s;
    border-bottom: 3px solid $color-primary;
  }
}
