.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 0;
}

.logo__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-decoration: none;
}

.logo__subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: $color-light-xl;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 443px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav__item {
  height: 27px;
  box-sizing: border-box;
  transition: 0.1s;
  &:hover {
    border-bottom: 3px solid $color-primary;
    transition: 0.1s;
    .nav__link {
      color: $color-light-s;
    }
  }
  &_active {
    border-bottom: 3px solid $color-primary;
    .nav__link {
      color: $color-light-s;
    }
    &:hover {
      .nav__link {
        color: $color-light-s;
        pointer-events: none;
      }
    }
  }
}

.nav__link {
  @include navigation-link;
  text-decoration: none;
  color: $color-dark-s;
}