.donation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  @include media-tablet() {
    flex-direction: column-reverse;
    row-gap: 60px;
  }
}

.donation__img {
  max-width: 505px;
  max-height: 261px;
}

.donation__img-dog {
  width: 100%;
  height: 100%;
}

.donation-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 380px;
  row-gap: 20px;
}

.credit-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 319px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: $color-primary;
  border-radius: 9px;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    background-color: $color-primary-light;
    transition: 0.2s;
  }
}

.credit-card__text {
  @include font(20px, 115%, 400, normal);
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  color: $color-dark-l;
  align-items: center;
}

.donation-info__text {
  @include font(12px, 18px, 400, italic);
  font-family: 'Arial';
  color: $color-dark-m;
}