.friends__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 60px;
  @include media-mobile() {
    row-gap: 42px;
  }
}

.friends__title {
  text-align: center;
}

.friends__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include media-tablet-to-mobile(){
    justify-content: space-evenly;
  }
  @include media-425-to-mobile() {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 105px;
  }
  @include media-mobile() {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 80px;
  }
}


// TO DO : Simlify
.slider {
  overflow: hidden;
  display: flex;
  max-width: 1050px;
  width: 100%;
  @include media-1000-to-tablet() {
    max-width: 80%;
  }
  @include media-tablet() {
    max-width: 580px;
  }
  @include media-tablet-to-mobile(){
    max-width: 270px;
  }
  @include media-425-to-mobile() {
    order: -1;
  }
  @include media-mobile() {
    order: -1;
    max-width: 270px;
  }
}

.slider-container {
  position: relative;
  left: -100%;
  display: flex;
  max-width: 1050px;
  width: 100%;
  transition: 1s;
  @include media-tablet() {
    max-width: 580px;
  }
  @include media-tablet-to-mobile(){
    max-width: 270px;
  }
  @include media-425-to-mobile() {
    order: -1;
  }
  @include media-mobile() {
    order: -1;
    max-width: 270px;
  }
}


.friends__pets {
  display: flex;
  flex: none;
  justify-content: center;
  column-gap: 8.5%;
  width: 100%;
  transition: 1s;
  @include media-desktop-to-tablet() {
    justify-content: space-evenly;
    column-gap: 0;
  }
  @include media-1000-to-tablet() {
    justify-content: space-evenly;
    max-width: 80vw;
    .pet-card:nth-child(3) {
      display: none;
    }
  }
  @include media-tablet() {
    justify-content: space-between;
    max-width: 580px;
  }
  @include media-tablet-to-mobile(){
    justify-content: space-evenly;
    max-width: none;
    .pet-card:nth-child(n+2) {
      display: none;
    }
  }
  @include media-mobile() {
    max-width: 270px;
    .pet-card:nth-child(n+2) {
      display: none;
    }
  }
}

@keyframes move-left {
  from {left: -100%;}
  to {left: 0;}
}

@keyframes move-right {
  from {left: -100%;}
  to {left: -200%;}
}

.move-right {
  animation-name: move-right;
  animation-duration: 1s;
}


.move-left {
  animation-name: move-left;
  animation-duration: 1s;
}




.left-arrow__btn {
  transform: rotate(180deg);
}

.friends__btn {
  width: 261px;
  height: 52px;
  background-color: $color-primary;
}