.friends__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 60px;
}

.friends__title {
  text-align: center;
}

.friends__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include media-mobile() {
    // max-width: 270px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.friends__pets {
  display: flex;
  justify-content: space-between;
  max-width: 990px;
  width: 100%;
  @include media-tablet() {
    max-width: 580px;
    .pet-card:nth-child(3) {
      display: none;
    }
  }
  @include media-mobile() {
    order: -1;
    .pet-card:nth-child(2) {
      display: none;
    }
  }
}

.left-arrow__btn {
  transform: rotate(180deg);
}

.friends__btn {
  width: 261px;
  height: 52px;
  background-color: $color-primary;
}