.friends__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 60px;
  @include media-mobile() {
    row-gap: 42px;
  }
}

.friends__title {
  text-align: center;
}

.friends__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include media-425-to-mobile() {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 80px;
  }
  @include media-mobile() {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 80px;
  }
}

.friends__pets {
  display: flex;
  justify-content: space-between;
  max-width: 990px;
  width: 100%;
  @include media-desktop-to-tablet() {
    justify-content: space-evenly;
    max-width: 80vw;
  }
  @include media-1000-to-tablet() {
    justify-content: space-evenly;
    max-width: 80vw;
    .pet-card:nth-child(3) {
      display: none;
    }
  }
  @include media-tablet() {
    justify-content: space-between;
    max-width: 580px;
  }
  @include media-tablet-to-mobile(){
    justify-content: space-evenly;
    max-width: 70vw;
    .pet-card:nth-child(n+2) {
      display: none;
    }
  }
  @include media-425-to-mobile() {
    order: -1;
  }
  @include media-mobile() {
    order: -1;
    max-width: 270px;
    .pet-card:nth-child(n+2) {
      display: none;
    }
  }
}

.left-arrow__btn {
  transform: rotate(180deg);
}

.friends__btn {
  width: 261px;
  height: 52px;
  background-color: $color-primary;
}