.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.help__title {
  text-align: center;
}

.help-card__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 55px;
  column-gap: 120px;
}

.help-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}