.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  @include media-mobile() {
    margin-left: 15px;
    margin-right: 15px;
  }
  @include media-mobile() {
    justify-content: space-between;
    row-gap: 42px;
  }
}

.help__title {
  text-align: center;
}

.help-card__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 55px;
  column-gap: 120px;
  @include media-tablet() {
    column-gap: 60px;
  }
  @include media-mobile() {
    justify-content: start;
    gap: 30px;
    max-width: 290px;
  }
}

.help-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  @include media-tablet() {
    width: 170px;
    height: 113px;
  }
  @include media-mobile() {
    row-gap: 20px;
    width: 130px;
    height: 87px;
  }
}

.help-card__icon {
  @include media-mobile() {
    max-width: 50px;
    max-height: 50px;
  }
}

.help-card__icon-img {
  width: 100%;
  height: 100%;
}