.not-only {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 0;
}

.not-only__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 163px;
  width: 460px;
  height: 322px;
}

.not-only__title {
  width: 310px;
}

.not-only__text {
  @include basic-text;
  color: $color-dark-s;
}

.not-only__btn {
  width: 207px;
  height: 52px;
  background-color: $color-primary;
}

.not-only__img {
  max-width: 698px;
  max-height: 728px;;
}