:root {
  font-size: 10px;
}

.h1-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  color: $color-primary;
}

.h2-title {

}

.h3-title {

}

.h4-title {

}