:root {
  font-size: 10px;
}

.h1-title {
  @include font(3.2rem, 110%, 400, normal);
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  color: $color-primary;
}

.h2-title {
  @include font(4.4rem, 130%, 400, normal);
  font-family: 'Georgia';
  color: $color-light-xl;
}

.h3-title {
  @include font(3.5rem, 130%, 400, normal);
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  color: $color-dark-l;
  @include media-tablet() {
    line-height: 132%;
  }
}

.h4-title {
  @include font(2.0rem, 115%, 400, normal);
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  color: $color-dark-l;
  @include media-tablet() {
    line-height: 80%;
  }
}

.h5-title {
  @include font(1.5rem, 110%, 400, normal);
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  color: $color-dark-l;
}