.burger {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  transition: 0.5s;
  z-index: 1;
 
  &_active {
    transition: 0.5s;
    transform: rotate(90deg);
  }
  @include media-tablet-to-mobile(){
    display: flex;
  }
}

.burger__line {
  width: 30px;
  border-bottom: 2px solid $color-primary;
  transition: 0.2s;
}
